<h3 class="text-lg font-medium leading-6 text-gray-100">
  New band
</h3>
<div class="grid grid-cols-1 row-gap-6 col-gap-4 mt-6 sm:grid-cols-6">
  <div class="sm:col-span-4">
    <label for="name" class="block text-sm font-medium leading-5">Name</label>
    <div class="relative mt-1 rounded-md shadow-sm">
      <input id="name" class="w-full px-4 py-2 text-gray-800 bg-white border rounded-md" value={{this.name}}
        {{on "input" (pick "target.value" (set this.name))}} />
    </div>
  </div>
  <div class="sm:col-span-4">
    <button type="button" class="px-4 py-2 bg-purple-600 rounded shadow-md hover:shadow-lg hover:text-white"
      {{on "click" this.saveBand}}>
      Save
    </button>
  </div>
</div>
